/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2018, 15:17:45
    Author     : felipe
*/
h2{
    text-align: center;
}
table{
    margin-left: 5%;
}
td{
    padding: 10px;
}
form{
    text-align: right;
    margin-right: 3%;
}

